.sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: @sidemenu;
  height: 100%;
  background-color: #212937;
  z-index: 1000;
  .sidemenu-rap {
    padding-top: 200px;
    .logo {
      width: 160px;
      margin-left: 45px;
      padding-top: 13px;
      img {
        width: 100%;
      }
    }
    .main-menu {
      padding-left: 30px;
      padding-top: 28px;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          margin-bottom: 20px;
          background-image: none;
          a {
            font-family: Futura-Medium;
            font-size: 16px;
            text-align: left;
            color: #ffffff;
            opacity: 0.5;
            padding-left: 15px;
          }
          &.active {
            a {
              opacity: 1;
            }
            background-repeat: no-repeat;
            background-size: 12px 2px;
            background-position: 7% 11px;
            // background-position: 7% 20px;
            background-image: url("../images/hyphen@2x.png");
            padding-left: 22px;
          }
          &:first-child {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
/*Top section*/
.top-section {
  position: relative;
  #zoom-slider-container {
    position: relative;
    /* can either be relative, absolute or fixed. If position is not set (i.e. static), it would be set to "relative" by script */
    overflow: hidden;
    /* to bound the empty top space created by inner element's top margin */
    width: 100%;
    min-height: 400px;
    background-color: #999;
    .zs-bullets {
      display: none;
    }
    .demo-inner-content {
      position: relative;
      /* if position is not set, the script will set it to 'relative'. */
      z-index: 2;
      /* if z-index is not set, the script will set it to '2'.  24.7% auto 27%*/
      // margin: 254px auto 279px;
      margin: 19% auto 20.6%;
      padding: 40px;
      max-width: 900PX;
      color: #fff;
      text-align: center;
      font-size: 1.5em;
      h1 {
        // border: 1px dotted #f7f7f7;
        font-family: 'Futura-Medium';
        letter-spacing: 2px;
        &:hover {
          // cursor: pointer;
        }
      }
      
      .gradient-text {
          background-color: #85ff9a;
          

          
          /* Set the background size and repeat properties. */
          background-size: 100%;
          background-repeat: repeat;

          /* Use the text as a mask for the background. */
          /* This will show the gradient as a text color rather than element bg. */
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; 
          
          /* Animate the text when loading the element. */
            /* This animates it on page load and when hovering out. */
            animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

        }
        
        .gradient-text:hover{
          animation: rainbow-text-simple-animation 0.5s ease-in forwards;
        }


/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}
      
      .top-image {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .news-pic-words {
        width: 100%;
        padding: 64px 0 13px;
        p {
          font-family: 'NotoSansCJKjp-Medium';
          font-size: 20.76px;
          color: #fff;
          padding: 0;
          letter-spacing: 1.3px;
        }
      }
      .news-pic-btn {
        width: 100%;
        .news-pic-btn-rap {
          width: 33%;
          margin: 49px auto 0;
          a {
            display: block;
            img {
              width: 100%;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
/*Theme section*/
.theme-section {
  width: 100%;
  position: relative;
  top: 0;
  background-image: url(../images/aboutbg@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // top: -81px;
  .section-title {
    width: 100%;
    text-align: center;
    padding: 76px 0 61px;
    h1 {
      font-size: 46px;
      color: @light-gray;
      font-family: 'Futura-Medium',sans-serif;
    }
  }
  .section-body {
    width: 100%;    
    .theme-rap {
      width: 78%;
      margin: 0 auto;
      .themes {
        ul {
          display: flex;
          justify-content: space-around;
          li {
            margin-bottom: 15px;
            span {
              width: 20px;
              height: 20px;
              background: @mind;
              // background: #fd2;
              display: inline-block;
              vertical-align: sub;
              margin: 0px 10px;
              border-radius: 100%;
            }
          }
        }
      }
    }
    .button-rap {
      width: 100%;
      padding: 32px 0 88px;
      .btn-rap {
        .btn {
          a {
            font-size: 1.406vw;
            color: @white;
            font-family: 'NotoSansCJKjp-Medium';
            text-align: center;
            display: block;
            box-shadow: 0 2px 5px rgba(63, 63, 63, 0.25);
          }
        }
      }
      .btn-left {
        width: 100%;
        .btn-fill {
          max-width: 301px;
          width: 69.7%;
          margin-right: 18px;
          margin: 0 auto;
          a {
            // background-color: #394351;
            .gradient-bg;
            padding: 18px 10px 21px;
            border-radius: 35px;
            &:hover {
              opacity: 0.8;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
}
/*Flow section */
.flow-section {
  width: 100%;
  // background-image: url("../images/dot-bg@2x.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  position: relative;
  top: -149px;
  .section-title {
    width: 100%;
    text-align: center;
    padding: 103px 0 33px;
    h1 {
      font-size: 46px;
      color: @light-gray;
      font-family: 'Futura-Medium', sans-serif;
    }
  }
  .section-body {
    width: 100%;
    padding-bottom: 110px;
    .flow-rap {
      max-width: 900px;
      width: 60%;
      margin: 0 auto;
      .flow-part {
        .point {
          display: flex;
          align-items: center;
          margin-bottom:30px;
          span.Number {
            font-family: 'Futura-Medium';
            font-size: 20px;
            width: 20px;
            height: 20px;
            .gradient-bg;
            border-radius: 100px;
            padding: 20px;
            // border: 2px solid #f9c97e;
            margin-right: 20px;
            color: #fff;
          }
        }
      }
    }
  }
}
/*Flow section */
.access-section {
  width: 100%;
  position: relative;
  top: -161px;
  .section-title {
    width: 100%;
    text-align: center;
    padding: 137px 0 51px;
    h1 {
      font-size: 46px;
      color: @light-gray;
      font-family: 'Futura-Medium', sans-serif;
    }
  }
  .section-body {
    width: 100%;
    .access-rap {
      .map {
        min-height: 509px;
      }
      .access-address {
        width: 100%;        
        .access-address-rap {
          width: 100%;
          p {
            &.location {
              font-size: 18px;
              font-family: 'NotoSansCJKjp-DemiLight';
              color: #333333;
              text-align: center;
              margin: 0;
              padding: 43px 10px;
              span {
                font-family: 'NotoSansCJKjp-Medium';
              }
            }
          }
          .address-details {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .card {
              margin: 0px 20px;
              border: 2px solid #f7f7f7;
              border-radius: 10px;
              .gradient-bg;
              // background: linear-gradient(90deg, #f80 0, #ffb000 100%);
              color: #fff;
              transform: scale(1);
              overflow: hidden;
              img {
                max-width: 400px;
                width: 100%;
                height: 350px;
              }
              .caption {
                padding: 0px 12px;
                h1 {
                  padding: 20px 0;
                  text-align: center;
                  font-family: 'Futura-Medium';
                }
                p {
                  
                }
              }
              &:hover {
                img {
                  cursor: pointer;
                  transform: scale(1.1);
                  transition: 0.3s all ease-in-out;
                  opacity: 0.3;
                }
              }
            }
          }
        }
      }
    }
  }
}
/*News Pic News*/ 
.newspic-news {
  width: 80%;
  margin: 54px auto 190px;
  .news {
    width: 100%;
    border: 2px solid #5dffc5;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    background: #fff;
    box-sizing: border-box;
    div {
      width: 50%;
      .eligibleTxt {
        font-size: 23px;
        color: #70f4c3;
      }
      &:nth-child(2) {
        text-align: center;
      }
    }
  }
}
@media only screen and (min-width: 1281px) {
  .theme-section .section-body .theme-rap .button-rap .btn-rap .btn a {
    font-size: 18px;
  }
  .theme-section .section-body .button-rap .btn-rap .btn a {
    font-size: 18px;
  }
  .theme-section .section-body .theme-rap .themes .theme .theme-title p {    
    padding: 16px 0;
    font-size: 17px;
  }
  .theme-section .section-body .theme-rap .themes .theme .theme-name p {
    font-size: 17.51px;
  }
}
@media only screen and (max-width: 768px) {
  .main-rap {
    width: 100%;
  }
  .no-scroll {
    overflow-y: hidden;
  }
  .topmenu {
    width: 100%;
    .top-menu-rap {
      width: 100%;
      .top-menu-icon {
        // .gradient-bg;
        background-color: #1f404c;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        padding: 20px 0;
        &.active-menu-sp {}
        .sp-logo {
          max-width: 45.3%;
          padding-left: 23px;
          img {
            width: 20%;
          }
          span {
            color: #fff;
            padding: 10px;
            font-size: 17px;
            vertical-align: middle;
          }
        }
        .menu-icon {
          position: fixed;
          top: 0;
          right: 0;
          width: 18%;
          height: 9%;
          z-index: 9999;
          overflow: hidden;
        }
        .nav-switch {
          div {
            position: absolute;
            left: 50%;
            width: 36%;
            margin-left: -3.5vw;
            -webkit-transform-origin: center center;
            transform-origin: center center;
            transition: top 1s, -webkit-transform 1s;
            transition: top 1s, transform 1s;
            transition: top 1s, transform 1s, -webkit-transform 1s;
            img {
              width: 100%;
              &.open-line {
                display: none;
              }
              &.close-line {
                display: block;
              }
            }
            &:nth-of-type(1) {
              top: 34%;
            }
            &:nth-of-type(2) {
              top: 48%;
            }
            &:nth-of-type(3) {
              top: 62%;
            }
          }
        }
        .nav-switch-on {
          div {
            margin-top: -2px;
            margin-left: -2.7vw;
            &:nth-last-of-type(1) {
              top: 50%;
              -webkit-transform: rotate(-405deg);
              transform: rotate(-405deg);
            }
            &:nth-last-of-type(2) {
              top: 50%;
              -webkit-transform: rotate(405deg);
              transform: rotate(405deg);
            }
            &:nth-last-of-type(3) {
              top: -50%;
              -webkit-transform: rotate(720deg);
              transform: rotate(720deg);
            }
            img {
              &.open-line {
                display: block;
              }
              &.close-line {
                display: none;
              }
            }
          }
        }
      }
      .top-nav-rap {
        width: 100%;
        background-color: #212937;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        position: fixed;
        z-index: 99;
        display: none;
        overflow: hidden;
        overflow-y: auto;
        ul {
          list-style: none;
          margin: 0;
          padding: 28.5% 0 19px;
          li {
            list-style: none;
            text-align: center;
            margin-bottom: 24px;
            a {
              font-family: 'Futura-Medium', sans-serif;
              font-size: 18.75px;
              letter-spacing: normal;
              text-align: center;
              color: @white;
            }
          }
        }
        .button-rap-sp {
          width: 100%;
          .btn-top {
            width: 100%;
            max-width: 337px;
            margin: 0 auto;
            padding-bottom: 10px;
            text-align: center;
            img {
              width: 100%;
            }
            .applyBtn {
              width: 80%;
            }
          }
          .btn-bottom {
            max-width: 339px;
            width: 90.2%;
            margin: 0 auto;
            padding-bottom: 50px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  /*Top section sp*/
  .top-section {
    #zoom-slider-container {
      .demo-inner-content {
        margin: 41.7% auto 55.7%;
        padding: 40px 0;
        max-width: 645px;
        width: 95%;
        p {
          font-size: 12.46px;
          color: #fff;
          padding: 25px 0 18px;
          letter-spacing: 1px;
        }
        .top-image {
          width: 100%;
          img {
            width: 89%;
          }
        }
        .news-pic-words {          
          padding: 43px 0 17px;
          p {            
            font-size: 14.38px; 
            letter-spacing: 1px;
          }
        }
        .news-pic-btn {
          position: relative;
          top: 55px;         
          .news-pic-btn-rap {
            width: 73%;
            margin: 0 auto;
            a {     
              img {               
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
  /*Theme section SP*/
  .theme-section {
    top: -81px;
    .section-title {
      padding: 113px 0 35px;
      h1 {
        font-size: 35.14px;
      }
    }
    .section-body {
      .theme-rap {
        width: 95%;
        margin: 0 auto;
        .themes {
          ul {
            display: block;
          }
          // .theme-caro {
          //   position: relative;
          //   .owl-prev {
          //     background: none;
          //     border: 0;
          //     position: absolute;
          //     left: -15.3%;
          //     top: 31.8%;
          //     z-index: 9;
          //     width: 13.5%;
          //     padding: 0;
          //     -webkit-appearance: none;
          //     img {
          //       width: 100%;
          //     }
          //   }
          //   .owl-next {
          //     background: none;
          //     border: 0;
          //     position: absolute;
          //     right: -15.1%;
          //     top: 31.8%;
          //     z-index: 9;
          //     width: 13.8%;
          //     padding: 0;
          //     -webkit-appearance: none;
          //     img {
          //       width: 100%;
          //     }
          //   }
          //   .owl-dots {
          //     margin-top: 9px;
          //     text-align: center;
          //     position: static;
          //     .owl-dot {
          //       display: inline-block;
          //       zoom: 1;
          //       cursor: pointer;
          //       user-select: none;
          //       margin-left: 1px;                
          //     span {
          //       box-shadow: 0 1px 1px rgba(63, 63, 63, 0.25);
          //       width: 9px;
          //       height: 9px;
          //       margin: 3px 3px;
          //       background: #394351;
          //       opacity: 0.4;
          //       display: block;                
          //       -webkit-transition: opacity 200ms ease;
          //       -moz-transition: opacity 200ms ease;
          //       -ms-transition: opacity 200ms ease;
          //       -o-transition: opacity 200ms ease;
          //       transition: opacity 200ms ease;
          //       -webkit-border-radius: 30px;
          //       -moz-border-radius: 30px;
          //       border-radius: 30px;
          //     }
          //     &.active {
          //       span {
          //         opacity: 1;
          //       }
          //     }
          //     }
          //   }
          // }
          // .theme {
          //   .theme-outer-inner {
          //     width: 100%;
          //     float: none;
          //     margin-right: 0;
          //     margin-bottom: 31px;
          //     padding: 17px 0;
          //     .theme-inner {
          //       width: 44.5%;
          //       margin: 0 auto;
          //     }
          //     .theme-title {
          //       p {               
          //         padding: 16px 0;
          //         font-size: 17.64px;               
          //       }
          //     }
          //   }
          // 
          //   &:nth-child(3n+3) {
          //     margin-right: 0;
          //   }
          //   // &:nth-child(6) {
          //   //   .theme-title {
          //   //     bottom: -2px;
          //   //   }
          //   // }
          // }
        }
        .button-rap {
          width: 100%;
          padding: 32px 0 72px;
          display: none;
          .btn-rap {
            .btn {
              a {
                font-size: 18px;
                color: @white;
                font-family: 'NotoSansCJKjp-Medium';
                text-align: center;
                display: block;
                box-shadow: 0 2px 5px rgba(63, 63, 63, 0.25);
              }
            }
          }
          .btn-left {
            width: 100%;
            float: none;
            .btn-fill {
              max-width: 301px;
              width: 100%;
              float: none;
              margin: 0 auto;
              a {
                // background-color: #394351;
                .gradient-bg;
                padding: 18px 10px 21px;
                border-radius: 35px;
                &::hover {
                  opacity: 0.8;
                  transition: 0.3s;
                }
              }
            }
          }
          .btn-right {
            width: 100%;
            float: none;
            .btn-blank {
              max-width: 303px;
              width: 100%;
              margin: 0 auto;
              a {
                color: #333;
                padding: 18px 10px 21px;
                border-radius: 35px;
                border: 1.5px solid #394351;
              }
            }
          }
        }
      }
      .button-rap {
        width: 100%;
        padding: 31px 0 43px;
        .btn-rap {
          .btn {
            a {
              font-size: 15.81px;
              color: @white;
              font-family: 'NotoSansCJKjp-Medium';
              text-align: center;
              display: block;
              box-shadow: 0 2px 5px rgba(63, 63, 63, 0.25);
            }
          }
        }
        .btn-left {
          width: 100%;
          float: none;
          .btn-fill {
            max-width: 327px;
            width: 90%;
            float: none;
            margin: 0 auto;
            padding-bottom: 19px;
            a {
              // background-color: #394351;
              .gradient-bg;
              padding: 16px 10px 18px;
              border-radius: 35px;
            }
          }
        }
        .btn-right {
          width: 100%;
          float: none;
          .btn-blank {
            max-width: 329px;
            width: 90%;
            margin: 0 auto;
            a {
              color: #333;
              padding: 16px 10px 18px;
              border-radius: 35px;
              border: 1.5px solid #394351;
            }
          }
        }
      }
    }
  }
  /*Flow section SP */
  .flow-section {
    // background-image: url("../images/sp/dot-bg@2x.png");
    top: -117px;
    .section-title {
      padding: 67px 0 42px;
      h1 {
        font-size: 35.14px;
      }
    }
    .section-body {
      padding-bottom: 96px;
      .flow-rap {
        width: 93%;
        margin: 0 auto;
        .flow-part {
          img {
            width: 100%;
          }
        }
      }
    }
  }
  /*Flow section SP */
  .access-section {
    top: -161px;
    .section-title {
      padding: 73px 0 35px;
      h1 {
        font-size: 35.14px;
      }
    }
    .section-body {
      .access-rap {
        .map {
          min-height: 299px;
        }
        .access-address {
          width: 100%;          
          .access-address-rap {
            width: 100%;
            p {
              &.location {
                font-size: 15.23px;
                padding: 31px 10px 32px;
                line-height: 27px;
                span {}
              }
            }
            .address-details {
              width: 100%;
              margin: 50px auto 0;
              display: block;
              .address-details-rap {
                padding: 12px 16px 20px;
                .details {
                  p {
                    font-size: 14.06px;
                    line-height: 28px;
                    text-align: left;
                    br {
                      display: none;
                    }
                  }
                }
                .main-address-part {
                  padding: 22px 0 0;
                  .address-left {
                    width: 100%;
                    float: none;
                    margin-bottom: 17px;
                    .address-left-part {
                      float: left;
                      background-image: url("../images/sp/line@2x.png");
                      background-position: left top;
                      background-size: contain;
                      background-repeat: no-repeat;
                      margin-left: 0;
                      p {
                        font-size: 14.06px;
                        margin: 0;
                        padding: 0 5px 0px 15px;
                        line-height: 22px;
                        margin-top: -3px;
                      }
                    }
                  }
                  .address-right {
                    width: 100%;
                    float: none;
                    .address-right-part {
                      background-image: url("../images/sp/line@2x.png");
                      background-position: left top;
                      background-size: contain;
                      background-repeat: no-repeat;
                      margin-left: 0;
                      p {
                        font-size: 14.06px;
                        margin: 0;
                        padding: 5px 5px 8px 15px;
                        line-height: 28px;
                        br {
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
              .card {
                margin-bottom: 30px;
              }
            }
          }
        }
      }
    }
  }
  /*News Pic News SP*/ 
.newspic-news {
  width: 88.3%;
  .news {
    border: 2px solid;
    border-image: linear-gradient(45deg, #ff8800, #ffb000) 1;
    width: 99.9%;
    display: block;
    div {
      width: 100%;
    }
  }
}
}
@media only screen and (max-width: 360px) {
  .topmenu .top-menu-rap .top-menu-icon .nav-switch div {
    width: 40%;
  }
  .access-section .section-body .access-rap .access-address .access-address-rap .address-details .address-details-rap .main-address-part .address-left .address-left-part p br {
    display: none;
  }
}